.sider {
  background-image: url("https://picsum.photos/1200");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row {
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
}

.space {
  width: 100%;
  padding: 24px;
  text-align: center;
}
