.header {
  text-align: center;
}

.icon svg {
  color: #2bbfd8;
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.confirmTitle,
.confirmText {
  text-align: center;
  display: block;
}

.deleteButton {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  color: var(--white);
}

.successModal button {
  width: 80%;
}
